body {
	font-family: Courier New;
	color: #4b4b4b;
	font-weight: bold;
	font-size: 2.5rem;
	padding-left: 30px;
}
h1 {
	font-size: 4rem;
	text-transform: uppercase;
}
#view1 {
	margin-bottom: 50px;
}
#view2 {
	display: none;
}
.option {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.description {
	color: #a6a6a6;
	font-size: 2rem;

}
.setting {
	width: 500px;
}
input {
	font-family: Courier New;
	font-weight: bold;
	color: #4b4b4b;
	border: none;
	font-size: 2.5rem;
}
#function input[type="text"] {
	width: 4rem;
	text-align: center;
	outline-color: #4b4b4b;
}
#props {
	margin: 0 0.5rem;
}
.arrows {
	font-size: 1.25rem;
	position: relative;
	bottom: 0.4rem;
	cursor: pointer;
}
.arrows:hover {
	color: #000000;
}

#createButton {
	background-color: #fff;
	outline: none;
	text-transform: uppercase;
	border-style: solid;
	margin-top: 50px;
}
#createButton:hover {
	cursor: pointer;
	border-width: 5px;
	position: relative;
	right: 2px;
	bottom: 2px;
}
